<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683370992766-5iffqrgmp8dssin1t5v63nfdajtj2co0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683370992766-5iffqrgmp8dssin1t5v63nfdajtj2co0</string>
	<key>API_KEY</key>
	<string>AIzaSyCS8cOKOcy9Knu_M8QuwPPhosTYro5S_JI</string>
	<key>GCM_SENDER_ID</key>
	<string>683370992766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firevotes</string>
	<key>PROJECT_ID</key>
	<string>firevotes</string>
	<key>STORAGE_BUCKET</key>
	<string>firevotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683370992766:ios:84ac92b8f2b22ef8d6f42f</string>
	<key>DATABASE_URL</key>
	<string>https://firevotes.firebaseio.com</string>
</dict>
</plist>